.container {
  width: 100%;
  height: 100%;
}

.loaderDiv {
  background: #000000;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  z-index: 100;
}

.offlineDiv {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  div {
    margin-top: 10px;
    width: 280px;
    height: 29px;
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    background-color: #0dd661;
    color: #000000;
    border-radius: 1000px;
    padding: 5px;
  }
}

.messageBox {
  margin: 0 !important;
  position: relative !important;
  width: 100% !important;
  height: calc(100vh - 64px) !important;
  // display: flex;
  // justify-content: center;
  // background: #eaf5ea;
}

.innnerContainer {
  position: relative;
  // width: 55vw;
}

.form {
  position: relative;
  width: 100%;
  height: 68px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #eaf5ea;
  // height: 10vh;
  // position: absolute;

  .imgInput {
    display: none;
  }

  .inputCard {
    display: flex;
    flex-grow: 1;
    position: relative;
    height: 45px;
    border-radius: 1000px;
    outline: none;
    // border: 1px solid gray;
    input {
      width: 100%;
      height: 100%;
      border-radius: 1000px;
      outline: none;
      padding: 10px;
      padding-left: 20px;
      border-style: solid;
      border: none;
      font-weight: 500;
      font-size: medium;
    }
  }
  .Button {
    padding: 0 !important;
    height: 40px;
    min-width: 40px !important;
    border-radius: 50% !important;
    // width: 100px;
    background: rgb(255, 179, 36) !important;
    background: rgba($color: #ffffff, $alpha: 0.1);
    font-weight: 600 !important;
    outline: none;
    border-style: solid;
  }
}

.main {
  position: relative;
  width: auto;
  height: calc(100% - 68px);
  // margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  border-left: 4px solid #eaf5ea;
}

.main::-webkit-scrollbar {
  width: 0.25rem;
}

.main::-webkit-scrollbar-track {
  background: #eaf5ea;
}

.main::-webkit-scrollbar-thumb {
  border-radius: 1000px;
  background: rgb(255, 179, 36);
}

.imgPreviewDivSend {
  overflow: hidden;
  position: relative;
  min-width: 50px;
  max-width: 330px;
  min-height: 50px;
  max-height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(168, 168, 167);
  border-radius: 7px;
}

.imgPreview {
  outline: none;
  border: none;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: grid;
  place-items: center;
  -webkit-filter: blur(5px);
  filter: blur(3px);
}

.uploadBtn {
  min-width: 50px !important;
  height: 27px !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  text-transform: unset !important;
  z-index: 100 !important;
  border-radius: 10000px !important;
  color: #ffffff !important;
  background-color: rgba($color: #000000, $alpha: 0.5) !important;
}

.cancelPreviewBtn {
  width: 30px !important;
  height: 30px !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 100 !important;
  color: #000000 !important;
}

.uploadLoader {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 200 !important;
}

.cancelPreviewBtn:hover {
  background-color: rgba($color: #ffffff, $alpha: 0.3) !important;
}

@media only screen and (max-width: 600px) {
  $form-height: 57px;
  .offlineDiv {
    div {
      width: 200px;
    }
  }
  .messageBox {
    height: calc(100vh - 56px) !important;
  }
  .innnerContainer {
    // width: 100vw;
  }

  .form {
    height: $form-height;
    .inputCard {
      height: 42px;
    }
    .Button {
      height: 35px !important;
      min-width: 35px !important;
      font-size: 12px !important;
      img {
        height: 20px;
      }
    }
  }

  .main {
    height: calc(100% - #{$form-height});
    border-left: none;
  }

  .main::-webkit-scrollbar {
    display: none;
  }

  .inputCard {
    input {
      font-size: 14.5px !important;
    }
  }
}

// //Mobile View Side Buttons

// .showGroupsBtnMbl {
//   position: absolute;
//   height: 25px;
//   width: 25px;
//   background-color: #5067e6;
//   border-top-right-radius: 50%;
//   border-bottom-right-radius: 50%;
// }

// .exploreGroupBtnMbl {
//   margin-top: 30px;
//   position: absolute;
//   height: 25px;
//   width: 25px;
//   background-color: #5bca73;
//   border-top-right-radius: 50%;
//   border-bottom-right-radius: 50%;
// }

// .groupSlideBarMbl {
//   position: absolute;
//   top: 65px;
//   height: 50vh;
//   width: 50px;
//   background-color: #5bca73;
//   border-top-right-radius: 100%;
//   border-bottom-right-radius: 100%;
//   transition: 500ms ease-in-out;
// }
