$header-height: 30px;
$icon-height-width: 30px;
$members-div-height-outer: calc(100% - 214px);
.adminOuterDiv {
  position: relative;
  width: 100%;
  max-height: 214px;
  display: block;
  // padding: 10px;
}

.grpName {
  position: relative;
  padding: 8px;
  color: rgb(25, 230, 161);
  font-family: Helvetica, sans-serif;
}
.icon {
  width: $icon-height-width;
  height: $icon-height-width;
  border-radius: 50%;
}

.personDiv {
  user-select: none;
  height: 44px;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  span {
    margin-left: 7px;
  }
}

.personDiv:hover {
  cursor: pointer;
  background: rgb(7, 6, 6);
}

.header {
  height: $header-height;
  position: relative;
  width: 100%;
  background: rgb(35, 36, 37);
  span {
    line-height: $header-height;
    margin-left: 10px;
    font-size: 0.8rem;
  }
}

.memberOuterDiv {
  position: relative;
  height: $members-div-height-outer;
}

.memberDiv {
  // max-height: $members-div-height;
  position: relative;
  width: auto;
  height: calc(100% - 30px) !important;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.memberDiv:hover ~ .memberDiv::-webkit-scrollbar {
  display: block;
}

.memberDiv::-webkit-scrollbar {
  display: none;
}

.main::-webkit-scrollbar {
  width: 0.25rem;
}

.main::-webkit-scrollbar-track {
  background: #eaf5ea;
}
