$create-grp-height: 60px;
$height: calc(100% - #{$create-grp-height});
$joined-grp-height: calc(#{$height}/ 2);

@mixin groupStyles {
  position: relative;
  width: 100%;
  height: $joined-grp-height !important;
  .header {
    position: relative;
    height: 40px;
    line-height: 40px;
    background: rgb(35, 36, 37);
    text-align: center;
  }
  .grpsList {
    position: relative;
    height: calc(100% - 40px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  .grp {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }

  .grp:hover {
    cursor: pointer;
    background: #343533;
  }

  .grpsList::-webkit-scrollbar {
    // width: 0.25rem;
    display: none;
  }

  .grpsList::-webkit-scrollbar-track {
    background: #eaf5ea;
  }

  .grpsList::-webkit-scrollbar-thumb {
    border-radius: 1000px;
    background: rgb(255, 179, 36);
  }
}

.joinedGrps {
  @include groupStyles();
}

.exploreGrps {
  @include groupStyles();
}

.createGrp {
  padding: 5px;
  height: $create-grp-height;
  position: relative;
  width: 100%;
  background: rgb(3, 122, 82);
  display: flex;
  align-items: center;
  gap: 5px;
}

.grpIcon {
  height: 35px !important;
  width: 35px !important;
  border: 2px solid #eaf5ea !important;
  border-radius: 50% !important;
}

.grpName {
  margin-left: 10px;
}

//Modal Styles
.dialogBox {
  background: rgba($color: #000000, $alpha: 0.4) !important;
}
.grpForm {
  position: relative;
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.grpProfileDiv {
  position: relative;
  width: 100%;
  height: 130px;
  border-bottom: 1px solid rgb(233, 188, 63);
  // background: url("https://images.pexels.com/photos/2422915/pexels-photo-2422915.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grpImgDiv {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grpImg {
  position: absolute;
  top: 60%;
  height: 100px !important;
  width: 100px !important;
  border: 3px solid rgb(233, 188, 63);
  border-radius: 50%;
  z-index: 50;
  background: #eaf5ea;
}

.iconLabel {
  position: absolute;
  top: 105.5%;
  left: 55%;
  z-index: 100;
}

.inputsBtndiv {
  position: relative;
  width: 100%;
  height: calc(100% - 250px);
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  .inputCards {
    width: 80%;
    height: 40px;

    input {
      padding: 5px;
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      font-size: 0.9rem;
    }
  }
}

.drawerBtn1 {
  text-transform: unset !important;
  background: rgb(255, 255, 255) !important;
}

.drawerBtn2 {
  text-transform: unset !important;
  background: rgb(15, 155, 97) !important;
}
