// for media query of display pic
$height-width-dp: 33px;

@mixin container {
  position: relative;
  width: 350px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 14px 0;
}

@mixin displayPic {
  position: relative;
  img {
    height: 45px;
    width: 45px;
    border-radius: 50% !important;
    // border: 1px solid #fa2af0;
  }
  @media screen and (max-width: 650px) {
    img {
      height: $height-width-dp;
      width: $height-width-dp;
    }
  }
}

@mixin infoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

@mixin displayName {
  font-size: 17px;
  font-weight: 600;
  margin-right: 10px;
  @media screen and (max-width: 650px) {
    font-size: 14px !important;
  }
}

@mixin text {
  position: relative;
  max-width: 100%;
  text-align: justify !important;
  text-justify: inter-word;
  // word-break: break-all;
  word-wrap: break-word;
  // overflow-wrap: break-word;
  // /* Non standard for WebKit */
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;

  color: #ffffff;
  @media screen and (max-width: 650px) {
    font-size: 14px !important;
  }
}
@mixin textDiv {
  position: relative;
  min-width: 30px !important;
  max-width: 330px !important;
  padding: 3px 10px;
  border-radius: 15px;
}

.SendContainer {
  @include container();
  justify-content: flex-end;
}

.RecieveContainer {
  @include container();
  justify-content: flex-start;
}

.displayPic {
  @include displayPic();
  margin-left: 3px;
}

.displayPicSend {
  @include displayPic();
  margin-right: 3px;
}

.infoDiv {
  @include infoDiv();
  margin-left: 10px;
  align-items: flex-start;
}

.infoDivSend {
  @include infoDiv();
  margin-right: 10px;
  align-items: flex-end;
}

.displayName {
  @include displayName();
}

.displayNameSend {
  @include displayName();
}

.time {
  font-weight: 200;
}

.textDiv {
  @include textDiv();
  background: #4877f8;
  // text-align: left;
}

.textDivSend {
  @include textDiv();
  background: rgb(173, 85, 255);
  // text-align: right;
}

.photoMsgDivSend {
  overflow: hidden;
  position: relative;
  min-width: 50px;
  max-width: 330px;
  min-height: 50px;
  max-height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3.5px solid rgb(168, 168, 167);
  border-radius: 7px;
}

.photoMsg {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: grid;
  place-items: center;
}

.text {
  @include text();
}

.textSend {
  @include text();
}

@media only screen and (max-width: 710px) {
  .textDiv,
  .textDivSend {
    max-width: 290px !important;
  }

  .time {
    font-size: 12.5px;
  }
}
