@mixin defaultContainerStyle {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.outerMostConSend {
  @include defaultContainerStyle();
  justify-content: flex-end;
}

.outerMostConRecieve {
  @include defaultContainerStyle();
  justify-content: flex-start;
}
