// for media query of display pic
$height-width-dp-desktop: 35px;
$height-width-dp-mbl: 30px;

@mixin container {
  position: relative;
  width: 380px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 6px 0;
  @media screen and (max-width: 600px) {
    width: calc(100% - 44.2px);
  }
}

@mixin displayPic {
  position: relative;
  display: grid;
  place-items: center;
  img {
    height: $height-width-dp-desktop;
    width: $height-width-dp-desktop;
    border-radius: 50% !important;
  }
  @media screen and (max-width: 600px) {
    img {
      height: $height-width-dp-mbl;
      width: $height-width-dp-mbl;
    }
  }
}

@mixin infoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  width: 100%;
}

@mixin displayName {
  font-size: 17px;
  font-weight: 600;
  margin-right: 10px;
  @media screen and (max-width: 650px) {
    font-size: 14px !important;
  }
}

@mixin text {
  position: relative;
  max-width: 100%;
  height: 100%;
  // text-align: justify !important;
  text-justify: inter-word;
  // word-break: break-all;
  word-wrap: break-word;
  // overflow-wrap: break-word;
  // /* Non standard for WebKit */
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;

  color: #ffffff;
  margin-bottom: 2px;
  @media screen and (max-width: 650px) {
    font-size: 14px !important;
  }
}
@mixin textDiv {
  position: relative;
  min-width: 30px !important;
  max-width: 330px !important;
  min-height: 25px !important;
  max-width: 400px !important;
  // height: 100%;
  padding: 3px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.SendContainer {
  @include container();
  justify-content: flex-end;
}

.RecieveContainer {
  @include container();
  justify-content: flex-start;
}

.displayPic {
  @include displayPic();
  margin-left: 4.2px;
}

.displayPicSend {
  @include displayPic();
  margin-right: 4.2px;
}

.infoDiv {
  @include infoDiv();
  margin-left: 10px;
  align-items: flex-start;
}

.infoDivSend {
  @include infoDiv();
  margin-right: 10px;
  align-items: flex-end;
}

.displayName {
  @include displayName();
}

.displayNameSend {
  @include displayName();
}

.time {
  font-weight: 200;
}

.textDiv {
  @include textDiv();
  background: #4877f8;
  // text-align: left;
}

.textDivSend {
  @include textDiv();
  background: rgb(173, 85, 255);
  // text-align: right;
}

@mixin photoMsgDiv {
  overflow: hidden;
  position: relative;
  min-width: 100%;
  min-height: 200px;
  max-height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(168, 168, 167);
  border-radius: 7px;
  background: rgb(173, 85, 255);
  // z-index: 10000;
}

.photoMsgDivSent {
  @include photoMsgDiv();
  // margin-left: 44.2px;
}
.photoMsgDivRecieve {
  @include photoMsgDiv();
  // margin-right: 44.2px;
}

.photoMsg {
  outline: none;
  border: none;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  // height: inherit !important;
  // min-height: 100%;
  object-fit: cover;
  // display: grid;
  // place-items: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
}

.text {
  @include text();
}

.textSend {
  @include text();
}

@media only screen and (max-width: 600px) {
  .textDiv,
  .textDivSend {
    max-width: 290px !important;
  }

  .time {
    font-size: 12.5px;
  }
}
